@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --f-family: 'Karla', sans-serif;
  --f-size: 16px;
  --f-w-regular: 400;
  --f-w-bold: 700;

  --primary-cyan: hsl(179, 62%, 43%);
  --primary-yellow: hsl(71, 73%, 54%);

  --secondary-cyan: hsl(179, 63%, 45%);

  --neutral-gray: hsl(204, 43%, 93%);
  --neutral-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--f-family);
  font-size: var(--f-size);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-gray);
}

main {
  max-width: 50%;
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: 1fr 1fr;
  grid-template-areas:
    'top top'
    'left right';
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 25px 2px hsla(0, 0%, 25%, 0.25);
}

section {
  padding: 3rem;
}

.top {
  background: hsl(0, 0%, 100%);
  grid-area: top;
}

.left {
  background: var(--primary-cyan);
  grid-area: left;
  color: hsl(0, 0%, 100%);
}

.right {
  background: var(--secondary-cyan);
  grid-area: right;
  color: hsl(0, 0%, 100%);
}

.top > h1 {
  font-size: calc(var(--f-size) * 2);
  color: var(--primary-cyan);
  padding-bottom: 1rem;
}

.top > h2 {
  font-size: calc(var(--f-size) * 1.25);
  color: var(--primary-yellow);
  padding-bottom: 0.5rem;
}

.top > p {
  color: var(--neutral-blue);
}

.left > h2,
.right > h2 {
  font-size: calc(var(--f-size) * 1.25);
  padding-bottom: 1rem;
}

.left > div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding-bottom: 0.5rem;
}

.left > div > h1 {
  font-size: calc(var(--f-size) * 2);
}

.left > div > span {
  color: var(--neutral-gray);
}

.left > p {
  padding-bottom: 1.5rem;
}

.left > button {
  width: 100%;
  padding: 0.75rem;
  background: var(--primary-yellow);
  color: hsl(0, 0%, 100%);
  font-weight: var(--f-w-bold);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px hsla(0, 0%, 25%, 0.5);
}

.right > p {
  color: var(--neutral-gray);
  font-size: calc(var(--f-size) * 0.8);
  padding-bottom: 0.1rem;
}
